sudo: false
language: php

php:
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5

matrix:
  fast_finish: true

before_script:
  - git clone --depth=50 --branch=2019.04 git://github.com/aimeos/aimeos-core.git ../aimeos-core
  - cd ../aimeos-core
  - mv ../ai-monolog ext/
  - composer require "monolog/monolog" "1.*"

script:
  - vendor/bin/phing -Ddir=ext/ai-monolog coverageext checkext

after_success:
  - php vendor/bin/coveralls -c ext/ai-monolog/.coveralls.yml
